[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Santhosh Kulasekar (skulasekar)
[access "refs/for/refs/*"]
	read = group user/Santhosh Kulasekar (skulasekar)
	push = group user/Santhosh Kulasekar (skulasekar)
	label-Code-Review = -2..+2 group user/Santhosh Kulasekar (skulasekar)
	label-Verified = -1..+1 group user/Santhosh Kulasekar (skulasekar)
	rebase = group user/Santhosh Kulasekar (skulasekar)
	removeReviewer = group user/Santhosh Kulasekar (skulasekar)
	submit = group user/Santhosh Kulasekar (skulasekar)
[access "refs/heads/*"]
	read = group user/Santhosh Kulasekar (skulasekar)
	create = group user/Santhosh Kulasekar (skulasekar)
	push = +force group user/Santhosh Kulasekar (skulasekar)
	pushMerge = group user/Santhosh Kulasekar (skulasekar)
[access "refs/tags/*"]
	push = +force group user/Santhosh Kulasekar (skulasekar)
	pushTag = group user/Santhosh Kulasekar (skulasekar)
	pushSignedTag = group user/Santhosh Kulasekar (skulasekar)
